Common/*.o
./**/*.mod
./**/*.o
./**/*.txt
bin/
output/
./**/*.dat
./**/*.cal
./**/*.log
./**/*.exe
./pythonRoutines/*.pyc
./pythonRoutines/*.txt
*.o
*.mod
*.swp
./Solver/Core/*.o
# NEMOH1 tests
Verification/1_Cylinder/mesh/
Verification/1_Cylinder/results/
Verification/1_Cylinder/logfile.txt
Verification/1_Cylinder/Normalvelocities.dat
Verification/2_2Bodies/mesh/
Verification/2_2Bodies/results/
Verification/2_2Bodies/logfile.txt
Verification/2_2Bodies/Normalvelocities.dat
Verification/3_NonSymmetrical/mesh/
Verification/3_NonSymmetrical/results/
Verification/3_NonSymmetrical/logfile.txt
Verification/3_NonSymmetrical/Normalvelocities.dat
Verification/4_Postprocessing/mesh/
Verification/4_Postprocessing/results/
Verification/4_Postprocessing/logfile.txt
Verification/4_Postprocessing/Normalvelocities.dat
Verification/5_QuickTests/1_Sphere/mesh/
Verification/5_QuickTests/1_Sphere/results/
Verification/5_QuickTests/1_Sphere/logfile.txt
Verification/5_QuickTests/1_Sphere/log
Verification/5_QuickTests/1_Sphere/Normalvelocities.dat
Verification/5_QuickTests/2_SymmetricSphere/mesh/
Verification/5_QuickTests/2_SymmetricSphere/results/
Verification/5_QuickTests/2_SymmetricSphere/logfile.txt
Verification/5_QuickTests/2_SymmetricSphere/log
Verification/5_QuickTests/2_SymmetricSphere/Normalvelocities.dat
Verification/5_QuickTests/3_FiniteDepthSphere/mesh/
Verification/5_QuickTests/3_FiniteDepthSphere/results/
Verification/5_QuickTests/3_FiniteDepthSphere/logfile.txt
Verification/5_QuickTests/3_FiniteDepthSphere/log
Verification/5_QuickTests/3_FiniteDepthSphere/Normalvelocities.dat
Verification/5_QuickTests/4_SymmetricFiniteDepthSphere/mesh/
Verification/5_QuickTests/4_SymmetricFiniteDepthSphere/results/
Verification/5_QuickTests/4_SymmetricFiniteDepthSphere/logfile.txt
Verification/5_QuickTests/4_SymmetricFiniteDepthSphere/log
Verification/5_QuickTests/4_SymmetricFiniteDepthSphere/Normalvelocities.dat
Verification/5_QuickTests/5_AlienSphere/mesh/
Verification/5_QuickTests/5_AlienSphere/results/
Verification/5_QuickTests/5_AlienSphere/logfile.txt
Verification/5_QuickTests/5_AlienSphere/log
Verification/5_QuickTests/5_AlienSphere/Normalvelocities.dat
Verification/6_box_coarsemesh/mesh/
Verification/6_box_coarsemesh/results/
Verification/6_box_coarsemesh/logfile.txt
Verification/6_box_coarsemesh/Normalvelocities.dat
# QTF tests
Verification/7_QTF_Cylinder/mesh634_floating/Mechanics/
Verification/7_QTF_Cylinder/mesh634_floating/mesh/
Verification/7_QTF_Cylinder/mesh634_floating/Motion/
Verification/7_QTF_Cylinder/mesh634_floating/QTFPreprocOut/
Verification/7_QTF_Cylinder/mesh634_floating/results/
Verification/7_QTF_Cylinder/mesh634_floating/logfile.txt
Verification/7_QTF_Cylinder/mesh634_floating/logfileQTF.txt
Verification/7_QTF_Cylinder/mesh634_floating/Normalvelocities.dat
#Verification/8_QTF_OC4_Semisubmersible/mesh2200_Floating/Mechanics/
Verification/8_QTF_OC4_Semisubmersible/mesh2200_Floating/mesh/
Verification/8_QTF_OC4_Semisubmersible/mesh2200_Floating/Motion/
Verification/8_QTF_OC4_Semisubmersible/mesh2200_Floating/QTFPreprocOut/
Verification/8_QTF_OC4_Semisubmersible/mesh2200_Floating/results/
Verification/8_QTF_OC4_Semisubmersible/mesh2200_Floating/logfile.txt
Verification/8_QTF_OC4_Semisubmersible/mesh2200_Floating/logfileQTF.txt
Verification/8_QTF_OC4_Semisubmersible/mesh2200_Floating/Normalvelocities.dat
#Verification/9_QTF_SOFTWIND/mesh_1872half_nolid_QTF_Floating_FS/Mechanics/
Verification/9_QTF_SOFTWIND/mesh_1872half_nolid_QTF_Floating_FS/mesh/
Verification/9_QTF_SOFTWIND/mesh_1872half_nolid_QTF_Floating_FS/Motion/
Verification/9_QTF_SOFTWIND/mesh_1872half_nolid_QTF_Floating_FS/QTFPreprocOut/
Verification/9_QTF_SOFTWIND/mesh_1872half_nolid_QTF_Floating_FS/results/
Verification/9_QTF_SOFTWIND/mesh_1872half_nolid_QTF_Floating_FS/logfile.txt
Verification/9_QTF_SOFTWIND/mesh_1872half_nolid_QTF_Floating_FS/logfileQTF.txt
Verification/9_QTF_SOFTWIND/mesh_1872half_nolid_QTF_Floating_FS/Normalvelocities.dat
#Verification/9_QTF_SOFTWIND/mesh_1872half_QTF_Floating/Mechanics/
Verification/9_QTF_SOFTWIND/mesh_1872half_QTF_Floating/mesh/
Verification/9_QTF_SOFTWIND/mesh_1872half_QTF_Floating/Motion/
Verification/9_QTF_SOFTWIND/mesh_1872half_QTF_Floating/QTFPreprocOut/
Verification/9_QTF_SOFTWIND/mesh_1872half_QTF_Floating/results/
Verification/9_QTF_SOFTWIND/mesh_1872half_QTF_Floating/logfile.txt
Verification/9_QTF_SOFTWIND/mesh_1872half_QTF_Floating/logfileQTF.txt
Verification/9_QTF_SOFTWIND/mesh_1872half_QTF_Floating/Normalvelocities.dat
