*.mod
*.o
*.log
*.exe
./pythonRoutines/*.pyc
./pythonRoutines/*.txt
*.swp
build*
bin*
# Test files
TestCases/**/logfile.txt
TestCases/**/Normalvelocities.dat
TestCases/**/results/*
TestCases/**/mesh/*
TestCases/**/Motion/*
TestCases/**/logfileQTF.txt
TestCases/**/QTFPreprocOut/*
TestCases/8b_QTF_Cylinder/**/Mechanics/*
TestCases/11_QTF_OC3_Hywind/**/Mechanics/*
TestCases/11_QTF_OC3_Hywind/**/fort.40
TestCases/7_Solvers_Check_OC3/**/fort.40
